---
layout: ms_page
title: Research
permalink: /research/
---

<p>I'm presently pursuing a PhD in music theory at Yale University. I have a wide array of theoretical interests, often stemming from my own activity as a composer and improviser, but for the time being I have whittled them down to focus upon the computational analysis of music. My dissertation project, currently in its earliest stages, will apply deep learning to the analysis of dissonance treatment.</p>
{% include hide_and_show_header.html %}
{% assign years = site.music_theory | group_by: "year" %}
{% assign other_categories = site.music_theory | group_by: "research_category" %}
{% assign research_categories = years | concat: other_categories %}
{% for research_category in research_categories %}
  {% unless research_category.name == "" %}
    <div class="research-category-wrapper">
      <p class="research-category">{{ research_category.name }}</p>
      {% for work in research_category.items %}
        <!-- {% if research_category.name == "" %}
          {% continue %}
        {% endif %} -->
        <!-- {% assign work_id = work.title | downcase | replace: " ", "-" %} -->
        {% assign work_id = work.title | slugify %}
        {% capture item_content %}
          {% for download in work.downloads %}
            <a href="/assets/{{ download.path }}">Download{% if download.text %} {{ download.text }}{% endif %}</a><br>
          {% endfor %}
          {{ work.content }}
          {% if work.abstract %}
            <div class="abstract">
              <p><span class="item_title">Abstract</span>: {{ work.abstract }}</p>
            </div>
          {% endif %}
          {% include references.html id=work_id title=work.title %}
          {% if work.has_imgs %}
            <div class="selected-figures-wrapper">
              <div class="selected-figures-content">
                <h4 class="selected-figures-header">Selected figure{% if work.has_imgs.size > 1 %}s{% endif %}</h4>
                {% for image in work.has_imgs %}
                  <img src="/assets/images/{{ image }}" alt="{{ work.title }} image" class="research_image">
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endcapture %}
        {% include hide_and_show_item.html
          title=work.title
          subheading=work.subheading
          content=item_content
          item_id=work_id
          content_class="research_content"
        %}
      {% endfor %}
    </div>
  {% endunless %}
{% endfor %}
